<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head">
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}
</style>
</head>
<body>

	<br>
	<div class="jumbotron">
		<div class="container text-center">
			<form method="post" action="/signin">
				<div class="form-group">
					<label for="email">Email:</label> <input type="text"
						class="form-control" id="email" name="email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label> <input type="password"
						class="form-control" id="pwd" name="pwd">
				</div>
				<button class="btn btn-warning btn-block" id="signin">Sign
					in</button>
			</form>
		</div>
	</div>

	<br>

	<script>
		$("#signin").click(function() {
			$("form").submit();
			return false;
		});
	</script>
</body>
</html>
